    body {
        font-family: 'Raleway', sans-serif;
        background-color: black
    }

    .modal {
        font-family: 'Raleway', sans-serif;
    }
    
    .body-content {
        background-color: white;
    }
    
    .body-content img {
        margin-top: 25px;
    }
    
    .other-color {
        color: #7cd9ff;
    }
    
    .vertical-align {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        align-items: center;
    }
    
    .top-banner,
    footer {
        color: white;
    }
    
    .top-banner p {
        padding: 0;
        margin: 0;
    }
    
    .top-banner a {
        color: #7cd9ff;
    }
    
    .top-banner address {
        padding: 0;
        margin: 0;
    }
    
    .hero img {
        width:100%;
    }
    
    .text-muted {
        color: silver;
    }
    
    .header-text {
        text-shadow: 2px 2px 8px black;
        color: #7cd9ff;
        font-family: 'Raleway', sans-serif;
        font-weight: 100;
        font-size: 3rem;
        padding-bottom: 25px;
        padding-top: 30px;
    }
    
    .header-text h2 {
        font-size: 4rem;
    }
    
    .experience img {
        margin-left: -15px;
    }
    
    .education img {
        margin-left: -15px;
    }
    
    .logos img {
        cursor: pointer;
    }
    
    .first {
        padding-top: 10px;
        -ms-animation-duration: 500ms;
        -webkit-animation-duration: 500ms;
        -moz-animation-duration: 500ms;
    }
    
    .second {
        padding-left: 10px;
        margin-top: -5px;
        -ms-animation-duration: 500ms;
        -webkit-animation-duration: 500ms;
        -moz-animation-duration: 500ms;
        -ms-animation-delay: 125ms;
        -webkit-animation-delay: 125ms;
        -moz-animation-delay: 125ms;
    }
    
    .third {
        -ms-animation-duration: 500ms;
        -webkit-animation-duration: 500ms;
        -moz-animation-duration: 500ms;
        -ms-animation-delay: 250ms;
        -webkit-animation-delay: 250ms;
        -moz-animation-delay: 250ms;
    }
    
    .fourth {
        -ms-animation-duration: 500ms;
        -webkit-animation-duration: 500ms;
        -moz-animation-duration: 500ms;
        -ms-animation-delay: 500ms;
        -webkit-animation-delay: 500ms;
        -moz-animation-delay: 500ms;
    }
    
    .fifth {
        -ms-animation-duration: 500ms;
        -webkit-animation-duration: 500ms;
        -moz-animation-duration: 500ms;
        -ms-animation-delay: 750ms;
        -webkit-animation-delay: 750ms;
        -moz-animation-delay: 750ms;
    }
    
    .entry {
        background: black;
        color: white;
    }
    
    .social-links a {
        color: white;
    }
    
    .social-links a:hover {
        color: #7cd9ff;
    }
    
    .top-banner address {
        margin-top: 125px;
        margin-left: 50px;
    }
    
    address ul {
        padding-top: 10px;
    }
    
    .skills {
        padding: 30px;
        text-align: center;
    }
    
    footer {
        padding: 10px 0;
    }
    
    .contact-submit {
        float: right;
    }
    
    .formy-form {
        margin-left: 80px;
    }
    
    .ui-helper-hidden-accessible {
        display: none;
    }
    
    .hidden {
        display: none;
    }
    
    footer a {
        color: #7cd9ff;
    }

     footer a:hover {
        color: white;
        text-decoration:none;
    }
    
    .fa-hand-o-right {
        color: black;
    }
    
    .fa-rotate-45 {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    
    .fa-rotate-135 {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    
    .directions {
        color: black;
        text-align: center;
        padding: 10px 0 10px 0;
        -ms-animation-delay: 1400s;
        -webkit-animation-delay: 1400ms;
        -moz-animation-delay: 1400ms;
    }

    .mobile-only {
        display:none;
    }

    .contact-submit {
        background-color:#7cd9ff;
    }
    .contact-submit:hover, .contact-submit:active {
        background-color:white;
    }

    .skills img {
        position:relative;
        z-index:1;
    }
    
    @media screen and (max-width:768px) {
        
        .non-mobile {
            display: none;
        }
        .mobile-only {
            display:initial;
        }
        .mobile-only h2{
            color:white;
        }

        .mobile-only h3 {
            color:#7cd9ff;
        }
        .top-banner address {
            margin-top: 15px;
            margin-left: 0;
            text-align: center;
        }
        .header-text {
            padding-top: 0;
            padding-bottom: 6px;
        }
        .contact-form {
            padding-bottom: 20px;
        }

        .exp-m li {
            cursor:pointer;
        }

        .exp-m li h3 {
            width:100%;
            border-bottom:thin white solid;
            padding-bottom:4px;
        }

        .skills img {
            width:100%;
        }

        .fa-caret-right {
            color:white;
        }

         .formy-form {
        margin:0;
    }

    .formy-form input, .formy-form textarea {
        width:98%;
    }

.formy-form .btn  {
        width:25%;
        float:none;
        display:block;
        margin:0 auto;
        margin-top:10px;
    }
    .contact-form {
            padding-bottom: 0;
        }
    }

    @media screen and (max-width:414px) {
        .hero {
        background-size: 100% auto;
        background-position: center;
        padding:0;
        margin:0;
    }
    }

    @media screen and (max-width:320px) {
        .hero {
        height:250px;
    }
    }